<div class=LeftMargin>
  <button (click)="addRandom()">Add random record</button>
  <button (click)="addActivity()">Add new activity</button>
  <button (click)="addCurrency()">Add new currency</button>
  <button (click)="clear()">clear all</button>
  
  <select [formControl]="SelectCard" (change)="SelectChanged($event)">
    <option value="None">None</option>
    <option  *ngFor="let item of possibleItems" [value]="item">
      {{item}}
  </option>
  </select>

  <button (click)="addSelected()" [disabled]="ButtonEnabled">Add selected record</button>

</div>





<div  class="div1">
  <div *ngFor="let item of items">
    <activity *ngIf="item=='activity'"></activity>
  </div>
</div>

<div class="div2">
  <div *ngFor="let item of items" >
    <currency *ngIf="item=='currency-api'"></currency>
  </div>
</div>

