<div [ngClass]="currentClasses" class="item-container">
  <div *ngIf="!errMessage;else error">
    <small>{{ highestSmall }}</small>
    <h3>{{ mainTopic }}</h3>
    <div>
      <p> {{ moreInfo }} </p>
    </div>
    <div>
      <p> {{ bottom }} </p>
    </div>
    <!-- <div><p> Error occured: {{ errMessage }} </p></div> -->
  </div>
  <ng-template #error>
    <div>
      <p style="color:brown"> Oops!.. Error occured. </p>
      <p>Error code: <b>{{ errorCode }}</b>. Error description: <b>{{ errorDescription }}</b> </p>
      <p>Message: {{ errorMessage }} </p>
    </div>
  </ng-template>
</div>